@using MvcOnlineTicariOtomasyonV1.Models.Siniflar
@model List<KargoTakip>
@{
    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
<h2 class="text-center">Kargo Takip Bilgileri</h2>
<br />

<div class="container mt-4">
    <div class="card shadow-lg border-0 rounded">
        <div class="card-header bg-primary text-white text-center">
            <h4 class="mb-0">Kargo Takip</h4>
        </div>
        <div class="card-body p-4">
            <table class="table table-hover table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Açıklama</th>
                        <th>Tarih</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 0;}
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@{count++;} @count</td>
                            <td>@x.Aciklama</td>
                            <td class="text-muted fst-italic">
                                @x.TarihZaman.ToString("dd.MM.yyyy HH:mm")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
